<?xml version="1.0"?>
<config>
    <modules>
        <Sendabox_Shippingext>
            <version>2.0.0</version>
        </Sendabox_Shippingext>
    </modules>
    <global>
        <models>
            <sendabox_shippingext>
                <class>Sendabox_Shippingext_Model</class>
                <resourceModel>sendabox_shippingext_resource</resourceModel>
            </sendabox_shippingext>
            <sendabox_shippingext_resource>
                <class>Sendabox_Shippingext_Model_Resource</class>
                <entities>
                    <shipment>
                        <table>sendabox_shipment</table>
                    </shipment>
                    <box>
                        <table>sendabox_box</table>
                    </box>
                    <agenda>
                        <table>sendabox_agenda</table>
                    </agenda>
                </entities>
            </sendabox_shippingext_resource>
            <shipment>
                <class>Sendabox_Shippingext_Model</class>
            </shipment>
        </models>
        <blocks>
            <sendabox_shippingext>
                <class>Sendabox_Shippingext_Block</class>
            </sendabox_shippingext>
        </blocks>
        <helpers>
            <sendabox_shippingext>
                <class>Sendabox_Shippingext_Helper</class>
            </sendabox_shippingext>
        </helpers>
        <resources>
            <sendabox_shippingext_setup>
                <setup>
                    <module>Sendabox_Shippingext</module>
                </setup>
            </sendabox_shippingext_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <sendabox>
                <use>admin</use>
                <args>
                    <module>Sendabox_Shippingext</module>
                    <frontName>sendabox</frontName>
                </args>
            </sendabox>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sendabox_settings>
                                            <title>Sendabox Settings</title>
                                        </sendabox_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sendabox>
                    <file>sendabox.xml</file>
                </sendabox>
            </updates>
        </layout>
    </adminhtml>
</config>